<div>
    <h1 class="h1LoginGithub">Logueate usando Github!</h1>
    <a href="/api/sessions/github"> <button class="btn btn-dark githubLogin">Entrar con Github</button> </a>
    <br>
    <br>
    <br>
    <br>
    <h2 class="genericTextStyle">No quieres usar Github? Puedes usar nuestros enlaces:</h2>
    <p class="genericTextStyle">¿No estás registrado? <a class="linkToRegister" href="/users/register">Regístrate aquí</a></p>
    <p class="genericTextStyle">¿Ya tienes cuenta con nosotros? <a class="linkToLogin" href="/users/login">Haz Login aquí</a></p>
</div>