<div>
    <h1 class="h1LoginGithub">Logueate usando Github!</h1>
    <a  class="btn btn-dark githubLogin" href="/api/sessions/github">  Entrar con Github </a>
    <br>
    <br>
    <br>
    <br>
    <h2 class="genericTextStyle">No quieres usar Github? Puedes usar nuestros enlaces:</h2>
    <p class="genericTextStyle">¿No estás registrado? <a class="linkToRegister" href="/api/users/register">Regístrate aquí</a></p>
    <p class="genericTextStyle">¿Ya tienes cuenta con nosotros? <a class="linkToLogin" href="/api/users/login">Haz Login aquí</a></p>
</div>