<div class="form-floating mb-2">
    <h1 class="h1Login">Login</h1>
    <form id="loginForm">
        <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
        </div>
        <br />
        <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="Password" type="password" name="password">
            <label for="floatingInput">Contraseña</label>
        </div>
        <br>
        <input class="btn btn-dark" type="submit">
    </form>
    <p class="genericTextStyle">¿Tienes cuenta de GitHub? <a class="linkToLogin" href="/github/login">Haz login por GitHub</a></p>
    <p class="nonExistingAccount">¿No estás registrado? <a class="linkToRegister" href="/api/users/register">Regístrate aquí</a></p>
</div>


<script src="/js/login.js"></script>